html {
  font: 300%/1.2 Georgia;
  color:#FFF;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
/* ENABLE FOR DEBUGGING */
/*  background:#fff; */
}

#top {
  position: absolute;
  width: 100%;
/* HOLDS THE "WRITE ON WALL" TEXT, TUNED TO TOP WINDOWS AT MEDIAMATIC BANK */
  height: 278px;
  top: 0;
  left: 0;
  font-style: italic;
}

#bottom {
  position: absolute;
  width: 100%;
/* THE INFO BOXES WILL BE SHOWN HERE, TUNED TO THE BOTTOM WINDOWS AT MEDIAMATIC BANK */
  height: 473px;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#top > * {
/* ENABLE FOR DEBUGGING */
/*  background: red; */
}

#bottom > * {
/* ENABLE FOR DEBUGGING */
/*  background: blue; */
}

#top > *, #bottom > * {
  position: absolute;
  top: 0;
/* BASE COLUMN WIDTH, TUNED TO WINDOWS AT MEDIAMATIC BANK */
  width: 486px;
  height: 100%;
  padding: 48px;
  -webkit-box-sizing: border-box;
  -webkit-transform: rotateY(180deg) rotateX(180deg);
}

#top > * > *, #bottom > * > * {
  -webkit-transform: rotateX(180deg);
  display: block;
  padding: 0 0 0 24px;
  margin-top: 0;
  overflow: hidden;
}

#bottom > * > * {
  background: #E20074;
}

#bottom img {
  padding: 0 74px;
/* IMPACTS IMAGE USED IN MIDDLE COLUMN DURING IDLE STATE */
  width: 200px;
  background: #FFF;
}

.left {
/* POSITION AND WIDTH TUNED FOR WINDOWS AT MEDIAMATIC BANK */
  left: 0;
}

.middle {
/* POSITION AND WIDTH TUNED FOR WINDOWS AT MEDIAMATIC BANK */
  left: 520px;
  width:492px !important;
}

.right {
/* POSITION AND WIDTH TUNED FOR WINDOWS AT MEDIAMATIC BANK */
  left: 1054px;
}
